.main-page{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
    to bottom right,
    #ffffff 0%, #5b9dff 40%, #07213b 60%, #081226 100%
    );

    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
}
@keyframes movingGradient {
    from { background-position: 0 0; }
    to { background-position: 100% 100% }
}
.newsfeed{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', 'sans-serif';
    background-color: rgba(255,255,255, 0.35);
    width: 60vw;
    min-height: 91vh;
    max-height: max-content;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    align-content: center;
}
.write-status{
    display: flex;
    width: 70vh;
    height: 20vh;
    background-image: linear-gradient(130deg, #f3f3f3, #bebebe);
    flex-direction: column;
    padding: 2% 2% 2% 2%;
    justify-content: center;
    margin: 5% 0 0 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    transform: translateY(300%);
}
.status-posts{
    display: flex;
    align-items: flex-start;
    margin: 5% 0 0 0;
    width: 70vh;
    min-height: 20vh;
    max-height: max-content;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.posted-by{
    display: flex;
    font-size: 12px;
    width: max-content;
    font-weight: bold;
    margin: 1% 0 0 2%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.timestamp{
    margin: 1% 2% 0 0;
    opacity: 0.5;
    font-style: italic;
    font-size: 8px;
}
.post-body{
    margin-top: 60px;
    width: 60%;
    transform: translate(-15%, -8%);
}
.visible-posts{
    width: 70vh;
    height: 72vh;
    overflow: scroll;
    margin-left: 2.5%;
}
.like-button{
    display: flex;
    box-shadow: 5px 0 5px -1px rgba(31, 73, 125, 0.2), -5px 0 5px -1px rgba(31, 73, 125, 0.2);
    width: 30%;
    height: 5vh;
    font-size: 15px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.like-button:hover{
    background-color: #1a5d8f;
    color: white;
}
.comment-button{
    display: flex;
    box-shadow: 5px 0 5px -1px rgba(31, 73, 125, 0.2), -5px 0 5px -1px rgba(31, 73, 125, 0.2);
    width: 30%;
    height: 5vh;
    font-size: 15px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.comment-button:hover{
    background-color: #1a5d8f;
    color: white;
}
.like-comment{
    display: flex;
    justify-content: space-around;
    height: 7vh;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}
.full-post{
    width: 70vh;
}
.comment-section {
    display: flex;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgb(31 73 125 / 80%), -12px 0 15px -4px rgb(31 73 125 / 80%);
    flex-direction: column;
    align-items: center;
    height: max-content;
}
.single-comment{
    display: flex;
    width: 65vh;
    height: max-content;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgb(31 73 125 / 80%), -12px 0 15px -4px rgb(31 73 125 / 10%);
    margin: 2%;
    padding: 0 0 0 5%;
    font-size: 10px;
    flex-direction: row;
    align-items: center;
}
.comment-username{
    font-weight: bold;
    margin-left: 5px;
}
.comment-body{
    margin-left: 2%;
}
.comment-timestamp{
    opacity: 0.5;
    font-style: italic;
    font-size: 7px;
    margin-left: auto;
    margin-right: 2%;
}
.write-comment{
    display: flex;
    justify-content: left;
    height: 7vh;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}
.write-comment .ant-input{
    width: 50vh;
    margin: 0 0% 0 10%
}