.logout-button {
    color: white;
    cursor: pointer;
    margin: 0 20px 0 0;
}
html,body {
    background: #efefef;
    font-family: "Arial";
}

.container {
    max-width: 1250px;
    margin: 30px auto 30px;
    padding: 2%;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

@media (max-width:800px) {
    header {
        height: 150px;
    }

    header i {
        right: -90%;
    }
}

.photo-left{
    cursor: pointer;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    border-radius: 100px;
    border: 4px solid #fff;
    cursor: pointer;
}

.active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: calc(50% - 70px);
    top: 75px;
    background-color: #FFC107;
    border: 3px solid #fff;
}

@media (max-width:990px) {
    .active {
        right: calc(50% - 60px);
        top: 50px;
    }
}

.name {
    margin-top: 20px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18pt;
    color: #777;
}

.info {
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: #aaa;
}

.stats {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
    font-family: 'Montserrat', sans-serif;
}

.desc {
    text-align: center;
    margin: 25px 40px;
    color: #999;
    width: 60%;
    font-size: 11pt;
    font-family: "Open Sans";
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
}

.right {
    padding: 0 25px 0 25px !important;
}

.nav {
    display: inline-flex;
}

.nav li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #888;
}

.nav li:hover, .nav li:nth-child(1)  {
    color: #999;
    border-bottom: 2px solid #999;
}

@media (max-width:990px) {
    .nav {
        display: none;
    }

    .follow {
        width: 50%;
        margin-left: 25%;
        display: block;
        position: unset;
        text-align: center;
    }
}
.complaint-form{
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    margin: auto;
    width: 50%;
    padding: 2%;
    background-color: #fff;
    height: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.complaint-button{
    transform: translateX(40%);
}
.border-line{
    border-bottom: 1px solid #1a5d8f;
}
.collection-create-form_last-form-item {
    margin-bottom: 0;
}
.styled-node{
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid red;
}
.private-calendar{
    margin: auto;
    width: 60%;
    padding: 2%;
    background-color: #fff;
    height: 100vh;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;
}

.newsfeed-button{
    display: flex;
    background-color: white;
    width: 14.5vh;
    height: 5vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 1px;
    cursor: pointer;
}
