@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

h1 {
    font-family:'Montserrat', 'sans-serif';
}

.Interface{
    display: flex;
    width: 100%;
    justify-content: center;
}

.display-picture{
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 50%;
}

.display-picture .ant-upload.ant-upload-select-picture-card{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transform: translateY(-5%);
}

.display-picture .ant-upload-list-picture-card .ant-upload-list-item-thumbnail, .display-picture .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transform: translateY(-5%);
}

.display-picture .ant-upload-list-picture .ant-upload-list-item, .ant-upload-list-picture-card .ant-upload-list-item{
    border: none;
}

.user-form{
    font-family:'Montserrat', 'sans-serif';
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 2%;
    width: 400px;
    padding: 2%;
    height: 600px;
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ant-form-inline{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10% 0 10% 0;
}

.form-item {
    margin: 0.5em 0;
}

.back-button{
    cursor: pointer;
    display: flex;
    align-items: center;
}
